.popup__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2px;
}

.popup__error {
  display: flex;
  color: #f00;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21em;
}

span {
  min-height: 30px;
}

